/* created by cornelis bosua 8/4/14 */

/* ----------------- fonts to import --------------------- */
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* font-family: 'Lobster', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* font-family: 'Pacifico', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* font-family: 'Ubuntu', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* font-family: 'Raleway', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Dosis);
/* font-family: 'Dosis', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Abel);
/* font-family: 'Abel', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
/* font-family: 'Josefin Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* font-family: 'Quicksand', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/* font-family: 'Poiret One', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/* font-family: 'Droid Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
/* font-family: 'Permanent Marker', 'cursive'; */

/* ----------------- Reset all styles ----------------- */
*{
	margin:0;
	padding:0;
	border:0;
}

body {
	background-color:#eeeeee;
	font-family: 'Droid Sans', 'sans-serif';
    font-size: 48px;
     background: #fff fixed url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat;
}

div {
  overflow: hidden;
  text-align: center;
}

#box1 {
  position: fixed;
  background: lightblue;
  margin: auto;
  top: 0; left: 0; right: 0;  bottom: 0;
}

#box2 {
  position: fixed;
  background: red;
  height: 100px;
  width: 100%;
  margin-top: 50px;
}


#box3 {
  position: fixed;
  background: yellow;
  height: 100px;
  width: 100px;
  margin-top: 200px;
}


.wrapper {
	margin: auto;
	width: 100%;
	height: auto;
}

#welcome {
	position: relative;
	width: 600px;
	height: fill;
	top: 30%;
	background-color: rgba(150,70,90,0); /* currently not being used */
	text-align: center;
	font-family: 'Quicksand', 'sans-serif';
	color: white;
	margin: auto;
}
/*
.centerall {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
*/


/***** This is for the sections in the document *******/

#homebg {
	margin: auto;
	width: 1000px;
	height: 800px;
	background-color: rgba(200,190,43,0.3);
}

#homesection {
	width: fill;
	height: fill;
	overflow: hidden;
}

/******* START styling for NAVIGATION Bar *******/

nav {
	width: 100%;
	height: fill;
	background-color: rgba(200,190,43,0.3); /* melb uni colour #003466 */
	text-align: right;
}
nav p {
	color: rgba(255,255,255,0.8);
	font-size: 30%;
	padding: 10px 10px 10px 10px;
	font-family: 'Poiret One', 'cursive';
}

a:link {text-decoration:none; color: rgba(255,255,255,0.8);}
a:visited {text-decoration:none;}
a:hover {text-decoration: none; opacity: 0.8;}
a:active {text-decoration: none; color: rgba(255,255,255,0.8);}

/******* END styling for NAVIGATION Bar *******/


/***** styling the aside's within the sections ****/
#about,#journey,#media {
	float:left;
	display:inline;
	width: 250px;
	height: 200px;
	overflow: hidden;
	background-color: rgba(100,100,100,0.5);
	margin: 20px;
}

.section-heading {
	text-align: center;
	font-family: 'Dosis', 'sans-serif'; 
	padding-top: 20px;
	color: white;
	font-style: italic;
	font-size: 70%;
}

.align-center {
	margin: auto 0px 0px 0px 0px;
}

.slide {
	width: 1000px;
	Height: 800px;
	margin: auto;
}

#slide1 { background-color: rgba(50,100,200,0.3);}
#slide2 { background-color: rgba(50,100,100,0.3);}
#slide3 { background-color: rgba(50,100,40,0.3);}
#slide4 { background-color: rgba(250,100,10,0.3);}


/*\\\\\ START style for he slide-content ////*/

.slide-content {
	position: relative;
	width: 750px;
	height: 600px;
	margin: 37px 50px 50px 200px; 
	background-color: rgba(100,100,190,0.2);
	border-radius: 15px;
}

.added-content {
	width: 420px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(50,50,190,0.3);
	margin: 20px 20px 20px 10px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.added-content p {
	margin: 20px;
	font-size: 80%;
}

.added-content span {
	color: white;
	font-size: 30%;
}


#userimg {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

#user-span {
	color: rgba(255,255,0,0.7);
	font-style: italic;
}

.txt-box span {
	color: white;
	font-size: 30%;
}

.user-info {
	font-size: 30%;
	color: rgba(255,255,0,0.7);
	display: inline;
}

.date {
	color: lightblue;
	font-size: 30%;
	display: inline;
}

.txt-box {
	width: 710px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(130,130,130,0.4);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.txt-box h2 {
	color: white;
	font-size: 40%;
	font-family: 'Raleway', 'sans-serif';
	text-align: center;
	margin: 10px;
}

.txt-box p {
	color: white;
	font-size: 30%;
	font-family: 'Raleway', 'sans-serif';
	margin: 10px;
}


.add-img{
	width: 50px;
	height: 50px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(0,255,0,0.4	);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 5px;
}

.add-img {
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	color: white;
	border-radius: 50px;
	
}

.add-img p {
	font-size: 0.1em;
	text-align: center;
	vertical-align: middle;
	color: white;
}

/***** img-box *******/

.img-box{
	width: 250px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(100,100,100,0.5);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.img-box img {
	width: 230px;
	height: 170px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 20px;
}

.img-box p{
	font-size: 25%;
	color: white;
	text-align: center;
}
.img-box h2{
	font-size: 35%;
	color: white;
	text-align: center;
}

/**** img-box *****/

/*********** END slide content **************/

/*\\\\\ START style for he time line bar ////*/

.time-line {
	top:1000px;
	float: left;
	margin: 100px 0px 100px 100px;
	width: 50px;
	height: 600px;
	background-color: rgba(255,255,255,0.9);
	padding: 0px;
	border-radius: 5px;
}

.time-line p {
	text-align: center;
	font-size: 0.4em;
	color: rgba(50,100,200,0.3);
	margin: 10px 0px 120px 0px;
}

/************ END  time line bar **********/

.add-img:hover {
	opacity: 0.8;
}