/* created by cornelis bosua 8/4/14 */

/* ----------------- fonts to import --------------------- */
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* font-family: 'Lobster', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* font-family: 'Pacifico', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* font-family: 'Ubuntu', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* font-family: 'Raleway', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Dosis);
/* font-family: 'Dosis', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Abel);
/* font-family: 'Abel', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
/* font-family: 'Josefin Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* font-family: 'Quicksand', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/* font-family: 'Poiret One', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/* font-family: 'Droid Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
/* font-family: 'Permanent Marker', 'cursive'; */

/* ----------------- Reset all styles ----------------- */
*{
	margin:0;
	padding:0;
	border:0;
}

body {
	background-color:#000000;
	font-family: 'Droid Sans', 'sans-serif';
    font-size: 48px;
}

div {
  overflow: hidden;
  text-align: center;
}

.wrapper {
	margin: auto;
	width: 100%;
	height: auto;
}

#welcome {
	position: relative;
	width: 600px;
	height: fill;
	top: 30%;
	background-color: rgba(150,70,90,0); /* currently not being used */
	text-align: center;
	font-family: 'Quicksand', 'sans-serif';
	color: white;
	margin: auto;
	font-size: 150%;
}
/*
.centerall {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}
*/


/***** This is for the sections in the document *******/

#homebg {
	margin: auto;
	width: 1000px;
	height: 800px;
	/*background-color: rgba(200,190,43,0.3);*/
}

#homesection {
	width: fill;
	height: fill;
	overflow: hidden;
	background-color: black;
	background-image: url(../img/p1.jpg);
	background-size: cover;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

section {
	min-width: 960px;
}

/******* START styling for NAVIGATION Bar *******/

nav {
	width: 100%;
	height: fill;
	background-color: #003466; /* melb uni colour #003466 */
	text-align: right;
	opacity: 0;
	display: none;
}
nav p {
	color: white;/*rgba(255,255,255,0.8);*/
	font-size: 30%;
	padding: 10px 10px 10px 10px;
	font-family: 'Poiret One', 'cursive';
}
a {
	color: white;
}
a:link {text-decoration:none; color: white;/*rgba(255,255,255,0.8);*/}
a:visited {text-decoration:none;}
a:hover {text-decoration: none; opacity: 0.8;}
a:active {text-decoration: none; color: white /*rgba(255,255,255,0.8);*/}

/******* END styling for NAVIGATION Bar *******/


/***** styling the aside's within the sections ****/
#about,#journey,#media {
	float:left;
	display:inline;
	width: 250px;
	height: 200px;
	overflow: hidden;
	background-color: rgba(100,100,100,0.5);
	margin: 20px;
}

.section-heading {
	text-align: center;
	font-family: 'Dosis', 'sans-serif'; 
	padding-top: 20px;
	color: white;
	font-style: italic;
	font-size: 70%;
	margin-left: 80px;
}

.align-center {
	margin: auto 0px 0px 0px 0px;
}

.slide {
	width: 1000px;
	min-height: 400px;
	margin: auto;
}

#section-1, #section-5, #section-9, #section-13, #section-17 {
    background-color: rgba(0, 42, 92, 0.8);
	/* background-image: url(../img/p2.jpg);*/
	background-size: cover;
}

#section-2, #section-6, #section-10, #section-14, #section-18 {
	background-color: rgba(10,10,20,1);
	/*background-image: url(../img/p3.jpg);
	background-size: cover;*/
}

#section-3, #section-7, #section-11, #section-15, #section-19 {
    background-color: rgba(250,250,255,1);
	/*background-image: url(../img/p4.jpg);*/
	background-size: cover;
}

#section-3 p, #section-7 p, #section-11 p, #section-15 p, #section-19 p {
    color: black;
}

#section-3 h2, #section-7 h2, #section-11 h2, #section-15 h2, #section-19 h2 {
    color: black;
}

#section-4, #section-8, #section-12, #section-16 {
    background-color: rgba(0,20,48,0.8);
    /* background-image: url(../img/p1.jpg); */
	background-size: cover;
}


/*
#slide1 { background-color: rgba(50,100,200,0.3);
	background-image: url(../img/p3.jpg);
	background-size: cover;
}
#slide2 { background-color: rgba(50,100,100,0.3);}
#slide3 { background-color: rgba(50,100,40,0.3);}
#slide4 { background-color: rgba(250,100,10,0.3);}
*/

/*\\\\\ START style for he slide-content ////*/

.slide-content {
	position: relative;
	width: 750px;
	min-height: 200px;
	margin: 37px 50px 50px 200px; 
	background-color: rgba(0, 52, 102, 0);	
	border-radius: 15px;
}

.slide-content > .txt-box {
    background-color: rgba(200, 200, 200, 0.5);
}

.slide-content > .img-box {
    background-color: rgba(200, 200, 200, 0.7);	
}


.user-added {
    color: black;
    background-color: rgba(190, 190, 190, 0);
}

.user-added > .txt-box {
    background-color: white;
    color: black;
}

.user-content {
    position: relative;
	width: 750px;
	min-height: fill;
	margin: 37px 50px 50px 200px; 
	background-color: rgba(0, 52, 132, 0.6);	
	border-radius: 15px;
}

.user-content h2 {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    font-size: 0.5em;
}

.user-content h3 {
    color: white;
    font-family: 'Raleway', 'sans-serif';
    font-size: 0.4em;
    margin-top: 20px;
}



.added-content {
	width: 420px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(50,50,190,0.3);
	margin: 20px 20px 20px 10px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.added-content p {
	margin: 20px;
	font-size: 80%;
}

.added-content span {
	color: white;
	font-size: 30%;
}


#userimg {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

.user-image {
    border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

.added-image {
    border-radius: 20px;
	max-width: 600px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

#user-span {
	color: rgba(255,255,0,0.7);
	font-style: italic;
}

.txt-box span {
	color: white;
	font-size: 30%;
}

.user-info {
	font-size: 30%;
	color: rgba(0,0,255,0.7);
	display: inline;
}

.date {
	color: lightblue;
	font-size: 30%;
	display: inline;
}

.txt-box {
	width: 710px;
	height: fill;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(130,130,130,0.4);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 10px;
}

.txt-box h2 {
	color: white;
	font-size: 40%;
	font-family: 'Raleway', 'sans-serif';
	text-align: center;
	margin: 10px;
}

.txt-box p {
	color: white;
	font-size: 30%;
	font-family: 'Raleway', 'sans-serif';
	margin: 10px;
}

.user-added p {
	color: black;
	margin: 10px;
}


.add-content-button {
    position: fixed;
	width: 50px;
	height: 50px;
	float: left;
	display:inline;
	overflow: hidden;
	background-color: rgba(0,200,0,0.6);
	margin: 50px 20px 20px 63px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 25px;
	font-size: 1em;
	z-index:10;
}

.add-content-button:hover {
    width: 60px;
	height: 60px;
	background-color: rgba(0,200,0,0.8);
	margin: 45px 20px 20px 58px;
	border-radius: 30px;
	font-size: 1.1em;
}

.add-img {
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	color: white;
	border-radius: 50px;
	
}

.add-img p {
	font-size: 0.1em;
	text-align: center;
	vertical-align: middle;
	color: white;
}

/***** img-box *******/

.img-box{
	width: 330px;
	height: fill;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(100,100,100,0.5);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 10px;
	padding: 2.5px;
}

.img-box img {
	max-width: 310px;
	max-height: 250px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 20px;
}

.img-box p{
	font-size: 25%;
	color: white;
	text-align: center;
}
.img-box h2{
	font-size: 35%;
	color: white;
	text-align: center;
}

/**** img-box *****/

/*********** END slide content **************/

/*\\\\\ START style for he time line bar ////*/

.time-line {
	position: fixed;
	top: 100px;
	background-color: rgba(20,20,20, 0.7);
	padding: 20px 0px 20px 0px;
	left: 50px;
	margin: 10px 0px 20px 0px;
	z-index: 1;
	width: 75px;
    border-radius: 50px;
}

.time-line p {
	text-align: center;
	font-size: 0.3em;
	font-family: 'Raleway', 'sans-serif';
	color: rgba(255,255,255,0.9);
	margin: 5px 0px 5px 0px;
}

.time-line a:hover {
    font-size: 1.1em;
    color: rgba(255,255,255,1);
    margin: 0px 0px 0px 0px;
}

.time-line a {
    color: white;
    text-shadow: 1px 1px 4px black;
}

/************ END  time line bar **********/

.add-img:hover {
	opacity: 0.8;
}

#fancy-date {
    color: rgba(62, 122, 180, 1);
}


/* melb uni colours:
melbourne university colours:
dark: #002242 - rgba(0, 34, 66, 1)
medium dark: #13304D - rgba(19, 48, 77, 1)
normal: #003466 (main) - rgba(0, 52, 102, 1)
mediumling: #2163A4 - rgba(33, 99, 164, 1)
light: #3E7AB4 - rgba(62, 122, 180, 1)
*/
