/* created by cornelis bosua 8/4/14 */

/* ----------------- fonts to import --------------------- */
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* font-family: 'Lobster', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* font-family: 'Pacifico', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* font-family: 'Ubuntu', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* font-family: 'Raleway', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Dosis);
/* font-family: 'Dosis', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Abel);
/* font-family: 'Abel', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
/* font-family: 'Josefin Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* font-family: 'Quicksand', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/* font-family: 'Poiret One', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/* font-family: 'Droid Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
/* font-family: 'Permanent Marker', 'cursive'; */

/* ----------------- Reset all styles ----------------- */
*{	
	margin:0;
	padding:0;
	border:0;
}

body {
	background-color:#eeeeee;
	/*font-family: "Nova Square", cursive;*/
        font-size: 48px;
}

.wrapper {
	margin: auto;
	width: 95%;
	height: auto;
}

#welcome-title {
	position: relative;
	left: 20%; /* this could potentially cause problems */
	width: 600px;
	height: fill;
	top: 30%;
	background-color: rgba(150,70,90,0); /* currently not being used */
	text-align: center;
	font-family: 'Quicksand', 'sans-serif'; 
	color: white;
	/*background-image: url(../img/Desert.jpg);*/
}

.centerall {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}



/***** This is for the sections in the document *******/

#homebg {
	margin: auto;
	width: 1000px;
	height: 150px;
}

#index-homebg {
	margin: auto;
	width: 1000px;
	height: 400px;
}

#homesection {
	width: 1000px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-image: url(../img/p2.jpg);
	background-size: cover;
}

#add-homesection {
	width: 1000px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(252,170,1,0.5);
}

#media-homesection {
	width: 1000px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(10,50,210,0.3);
}

#mod-homesection {
	width: 1000px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(255,0,0,0.3);
}

/******* START styling for NAVIGATION Bar *******/

nav {
	width: 100%;
	height: fill;
	background-color: #003466;
}

#nav-heading {
	color: white;
	font-size: 70%;
	display: inline;
	text-align: center;
	margin-left: 30%;
	font-family: 'Josefin Sans', 'sans-serif';
}

#nav-login {
	color: rgba(255,255,255,0.8);
	font-size: 30%;
	display: inline;
	float: right;
	margin: 10px 20px 10px 20px;
	font-family: 'Poiret One', 'cursive';;
}

#nav-login a{
	color: lightblue;
	font-style: normal;
}

#moderator, #add-content {
	font-family: 'Quicksand', 'sans-serif'; 
	font-size: 80%;
	color: white;
	padding-left: 20px;
	position: fixed;
	right: 0%;
	width: 50px;
	height: 50px;
	text-align: center:
	border-radius: 10px;
}

#moderator {background-color: rgba(255,12,10,0.5);}

#add-content {
	margin-top:70px;
	background-color: rgba(0,35,255,0.3);
}

#moderator p {
	margin: auto;
	text-align: center:
}

a:link {text-decoration:none; color: rgba(255,255,255,0.8);}
a:visited {text-decoration:none;}
a:hover {text-decoration: none; opacity: 0.8;}
a:active {text-decoration: none; color: rgba(255,255,255,0.8);}

/******* END styling for NAVIGATION Bar *******/


/***** styling the aside's within the sections ****/
.content-box {
	width: 250px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(100,100,100,0.5);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
}

.content-box:hover {
	opacity: 0.999;
}
.section-heading {
	text-align: center;
	/*font-family: 'Lobster', 'cursive'; */
	font-family: 'Poiret One', 'cursive'; 
	color: white;
	font-style: italic;
	font-size: 70%;
}

.align-center {
	margin: auto 0px 0px 0px 0px;
}


/***** Slide styling ******/

#slide1 {
	margin: auto;
	background-color: rgba(120,120,120,0.3);
	width: 1000px;
	height: fill;
}

/* from add, mod and media in addition to what is already in this file

#slide-content {
	height: 800px;
}

#slide-content img {
	border-radius: 20px;
}

*/

#slide1 div { 
	border-radius: 20px;
}


#slide-content {
	position: relative;
	width: 870px;
	height: 300px;
	margin: auto;
	background-color: rgba(100,100,190,0.2);
}

#slide-content img {
	width: 230px;
	height: 180px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 20px;
}

#user-div img {
	height: 70px;
	width: 70px;
	border-radius: 35px;	
}

#slide-content p{
	font-size: 25%;
	color: white;
	text-align: center;
}

#slide-content h2{
	font-size: 35%;
	color: white;
	text-align: center;
}

/****** END Slide styling  **************/

/********** START styling for img-content ************/
#img-content {
	font-family: 'Raleway', 'sans-serif';
	position: relative;
	width: 870px;
	height: fill;
	margin: auto;
	background-color: rgba(30,230,190,0.2);
}



#img-content p{
	color: rgba(30,10,255,0.5);
	text-align: center;
}
/********** END styling for img-content ************/

/** general styling **/

.align-center {
	margin: auto 0px 0px 0px 0px;
}

.content-box {
	width: 250px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(90,90,90,0.3);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.content-box img {
	width: 230px;
	height: 180px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 30px;
}

.content-box p{
	font-size: 20%;
	color: white;
	text-align: center;
}
.content-box h2{
	font-size: 40%;
	color: white;
	text-align: center;
}

#search-box {
	margin-left: 180px;
	width: 400px;
	height fill;
	background-color: rgba(1,255,25,0.0);
	font-size: 0.4em;
	color: white;
	padding: 20px;
}

.search-bar {
	margin: 0px 0px 0px 0px;
	width: 200px;
	height: 20px;
	float: right;
	
}

#add-image-button {
	margin-left: 10px;
}

.button {
	margin: auto;
	text-align: center;
	color: white;
	font-size: 1em;
	font-family: 'Raleway', 'sans-serif';
	background-color: rgba(250,100,60,0.5);
}

.mod-buttons {
	width: 100px;
	height: 250px;
	float: right;
	display:inline;
	overflow: hidden;
	background-color: rgba(255,255,0,0.0);
	margin: 20px 10px 20px 0px;
	font-family: 'Raleway', 'sans-serif';
}


.mod-buttons div:hover {opacity: 0.8;}

#mod-accept, #mod-reject {
	display: inline;
	font-family: 'Raleway', 'sans-serif';
	text-align: center;
	float: right;
	width: 70px;
	height: 100px;
	border-radius: 50px;
	margin: 10px;
	right: 10%;
}

#mod-reject { background-color: rgba(250,100,60,0.5); }
#mod-accept { background-color: rgba(50,250,0,0.5); }


.right {
	position: absolute;
	top: 50%;
	right: 20%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
}

/******* start added-content box ************/

.added-content {
	width: 460px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(50,50,190,0.3);
	margin: 20px 10px 20px 0px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.added-content p {
	margin: 20px;
	font-size: 80%;
}

.added-content span {
	color: white;
	font-size: 30%;
}


#userimg {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

#user-span {
	color: rgba(255,255,0,0.7);
	font-style: italic;
}

/******* END added-content box ************/


/******** START styling for Login **********/

#login {
	background-color: rgba(255,190,0,0.4);
}

#login-box {
	background-color: rgba(223,150,0,0.5);
	color: white;
	font-size: 40%;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	width: 400px;
}

#submit-button {
	width: 100px;
	height: 20px;
	margin: 0px 0px 10px 0px;
	background-color: white;
	font-family: 'Raleway', 'sans-serif';
	color: rgba(223,150,0,1);
}

#logout {
	text-align: center;
	width: 400px;
	height: 200px;
	font-family: 'Raleway', 'sans-serif';
	color: white;
	font-size: 60%;
}

#logout a {
	color: rgba(10,30,255,0.6);
}

#container {
	width: 100%;
	height: 100%;
}
